# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. **Java**
2. **Python**
3. **R**

**Objectives:**
* how deal with ML tools
* how to use GIT
* what is R

### Some of the commonly used libraries used by Data Scientists include:
1. **TensorFlow**
2. **NumPy**
3. **SciPy**
4. **Pandas**
5. **Matplotlib**

### Data Science Tools

| Tools |
|:--------:|
|Tableau   | 
|TensorFlow | 
|Apache Spark| 
|Python|
|Jupyter Notebook|

### Below are a few examples of evaluating arithmetic expressions in Python
$y = x + 2 $

$y = 2$

$x^{2} = 2$

In [25]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [26]:
 #This will convert 200 minutes to hours by diving by 60
y = 200
x = 'This will convert'
z = 'minutes to hours by diving by 60 and final answer is'
print(x+ " " +str(y)+ " " + " " + z + " " + str(y/60))

This will convert 200  minutes to hours by diving by 60 and final answer is 3.3333333333333335

## Author
Nikhil